:root {
    --accent-color: #FAFF09;
    --hero-text-color: #F2F2F2;
    --benefits-text-color: #0E0E0E;
    --main-text-color: #333333;
    --border-color: #E0E0E0;
    --button-bg-color: #000000;
    --button-text-color: #FFFFFF;
    --text-color: #000000;
    --stages-text: #4f4f4f;
    --before-bg-color: #4f4f4f;
    --benefits-before-color: #0e0e0e;
    --about-text-color: #ffffff;


    --toast-color: #fbff09e8;

    --transition: .4s linear;
}